.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
}

.footer {
  flex: none;
}

.body {
    flex: 1 0 auto;
    height: calc(100vh - 300px);
}

@media only screen and (max-width: 600px) {

  .body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
